WindowsFormsApp1011/bin/Debug
WindowsFormsApp1011/obj/Debug
SimpleComputerUI/bin/Debug
SimpleComputerUI/obj/Debug
Simple Computer/bin/Debug
Simple Computer/obj/Debug
Geometry/bin/Debug
Geometry/obj/Debug
packages
VStest
*.exe
*.pdb
README.md
*.png
*.log
*.txt
.vs
